# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.

pytest~=7.4.1
pytest-mock
ruff
scipy
nbval
black
jupyter
mypy
isort
pytest-cov
gitchangelog
coverage
setuptools~=58.0.4
pyspark~=3.5.0
requests~=2.31.0
pandas~=2.1.0